.vs/Stinger/FileContentIndex/2093d66b-5b4a-4d4c-88b7-979fd1f2070e.vsidx
.vs/Stinger/FileContentIndex/4deb8881-89b0-4153-9c7c-f867d95481be.vsidx
.vs/Stinger/FileContentIndex/d6b74dce-ef42-441f-ab3a-5fc7c54a39a3.vsidx
.vs/Stinger/FileContentIndex/dbe3941c-2462-4407-8509-e746c27448f1.vsidx
.vs/Stinger/FileContentIndex/fdada002-a79d-4d20-8651-c0f76d817b2c.vsidx
.vs/Stinger/v17/.suo
.vs/Stinger/v17/Browse.VC.db
.vs/Stinger/v17/Browse.VC.db-shm
.vs/Stinger/v17/Browse.VC.db-wal
.vs/Stinger/v17/Browse.VC.opendb
.vs/Stinger/v17/DocumentLayout.backup.json
.vs/Stinger/v17/DocumentLayout.json
.vs/Stinger/v17/ipch/AutoPCH/1bc6e608cdbbed63/STINGER.ipch
.vs/Stinger/v17/ipch/AutoPCH/1fc3e4f1030a81c3/MAIN.ipch
.vs/Stinger/v17/ipch/AutoPCH/6aad04a304bc98ad/SCENE.ipch
.vs/Stinger/v17/ipch/AutoPCH/8c03d74bc31a32d4/DIRECTXTEX.ipch
.vs/Stinger/v17/ipch/AutoPCH/9b288fb787c8c127/INPUTMANAGER.ipch
.vs/Stinger/v17/ipch/AutoPCH/cf6bc0a8a4c867f9/MAIN.ipch
.vs/Stinger/v17/ipch/AutoPCH/d03f10cfe9357ea3/RENDERER.ipch
.vs/Stinger/v17/ipch/AutoPCH/de2780fd631127/SCENEMANAGER.ipch
.vs/
Stinger/x64/Debug/
/Stinger/x64/Debug
/Stinger/x64
/Stinger/x64
/Stinger/x64
Stinger/x64/Debug/Stinger.tlog/link.secondary.1.tlog
/Stinger/x64/Debug
